* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}

h2 {
  color: blue;
  font-size: 20px;
}

h3 {
  color: orangered;
  font-size: 100px;
}

h4{
  color: pink;
  font-size: 300px;
}
